<div class="fb-page" data-href="https://www.facebook.com/senseriestv/" data-tabs="timeline" data-width="340" data-small-header="true" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/senseriestv/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/senseriestv/">Senseries.com</a></blockquote></div>
<br>
<div style="padding-top: 20px; position: relative;">
	<a class="twitter-timeline" data-lang="fr" data-width="340" data-dnt="true" data-theme="dark" href="https://twitter.com/jigeenofficiel?ref_src=twsrc%5Etfw">Tweets by jigeenofficiel</a> 
	<a href="https://twitter.com/jigeenofficiel?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-lang="fr" data-dnt="true" data-show-count="false">Follow @jigeenofficiel</a>
</div>
