---
layout: default
---

<!--Breadcrumbs -->
        <section class="page-info">
            <div class="container clearfix">
                <div class="pull-left">
                    <h3>Blog Detail</h3>
                </div>
                <div class="pull-right">
                    <ul class="bread-crumb clearfix">
                        <li><a href="index.html">Home</a></li>
                        <li>Blog Detail</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--Breadcrumbs   end-->

        <!--page contents-->
        <section class="contents">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                        <div class="post-detail" style="padding-top: 0px; margin-top: 0px;">
                            <div class="postdtl-info" style="padding-top: 0px; margin-top: 0px;">
                                <p class="post-category"><a href="#">{{ page.categories }}</a></p>
                                <h1 class="post-title"><a href="#">{{ page.title }}</a></h3>
                                <div class="post-meta">
                                    <span><a href="#"><i class="fa fa-user"></i> By {{ page.auteurs }}</a></span>
                                    <span><a href="#"><i class="fa fa-clock-o"></i> {{ page.date | date: "%d-%m-%y" }}</a></span>
                                </div>
                                

                            </div>
                            <div class="postdetail-img">
                                <a href="#"><img src="{{ page.main_img }}" alt="Post" width="1110px" height="600px"></a>
                            </div>
                            <div class="post-share">
                                 {% include facebook_share.html %}
                                <div class="coment-share">
                                    <a href="#"><i class="fa fa-comment"></i> 3</a>
                                </div>
                            </div>
                            <div class="postdtl-info">
                                <p>{{ content }}</p>
                            </div>
                            <div class="comment-box">
                                <div class="title">
                                    <h2>Apropos de l auteur</h2>
                                </div>
                                <div class="single-comment-box">
                                    <div class="img-box">
                                        <div class="inner-box">
                                            <img src="/images/post/author1.png" alt="">
                                        </div>
                                    </div>
                                    <div class="content-box">
                                        <h3> {{ page.auteurs }}</h3>
                                        <div class="meta-box clearfix">
                                            <span class="pull-left">{{ page.date | date: "%d-%m-%y" }}
                                            
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="title">
                                <h2>A voir aussi</h2>
                            </div>
                            <div class="related_blogs rlpost-fullwidth">
                            {% for post in site.posts limit: 3 %}
                            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                                <!-- blog-item Post -->
                                <div class="blog-item">
                                    <div class="blog-post">
                                        <div class="blogpost-img">
                                            <a href="#"><img src="{{ post.main_img }}" alt="Post" width="350px" height="213px"></a>
                                        </div>
                                        <div class="post-share">
                                            
                                            <div class="coment-share">
                                                <a href="#"><i class="fa fa-comment"></i> 3</a>
                                            </div>
                                        </div>
                                        <div class="blogpost-info">
                                            <p class="post-category"><a href="#" title="Posts by category Travel">{{ post.categories }}</a></p>
                                            <h3 class="post-title"><a href="#">{{ post.title }}</a></h3>
                                            <div class="post-meta">
                                                <span><a href="#"><i class="fa fa-user"></i> {{ post.auteurs }}</a></span>
                                                <span><a href="#"><i class="fa fa-clock-o"></i>{{ post.date | date: "%d-%m-%y" }}</a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- blog-item Post end -->
                            {% endfor %}
                                

                            </div>

                           

                            <div class="comment-form contact-content">
                                <div class="title">
                                    <h2>Laisser un commentaire</h2>
                                </div>
                                <div class="fb-comments" data-href="{{ page.url }}"  data-width="720" data-numposts="5"></div>
                            </div>

                        </div>
                    </div>
                    {% include home_sidebar.html %}

                </div>
            </div>

        </section>
        <!--page contents end  -->